  body {
        font-family: Roboto, Arial, sans-serif;
        background: #ECEFF1;
        color: rgba(0,0,0,0.87);
      }

      a {
        color: white;
				text-decoration: none;
      }

      #mainDisplay, #gameCreate {
        max-width: 400px;
        margin: 40px auto;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
        border-radius: 2px;
        background: white;
        padding: 16px 24px;
      }

      #mainDisplay h1, #gameCreate h1 {
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        margin: 0 0 16px;
      }

      #mainDisplay p {
        font-weight: 300;
        line-height: 150%;
      }

      #mainDisplay ul {
        list-style: none;
        margin: 16px 0 0;
        padding: 0;
        text-align: center;
      }

      #mainDisplay li{        
        padding: 8px;
        text-transform: uppercase;
        
        font-weight: 500;
        background: rgb(3,155,229);
        color: white;
        border: 1px solid rgb(3,155,229);
        border-radius: 3px;
        font-size: 14px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
				margin: 5px 0;
      }
			.gameItem{
			 display: flex;
			 text-decoration: none;
			 justify-content: space-around;
			}
			.deleteGame{
				border: 1px solid red;
				border-radius: 2px;
				background-color: red;
			}
				
		
#snackbar {
	
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
}

	#snackbar {
			visibility: visible;   
			animation: fadein 0.5s, fadeout 0.5s 2.5s;
	}

	@keyframes fadein {
			from {bottom: 0; opacity: 0;}
			to {bottom: 30px; opacity: 1;}
	}

	@keyframes fadeout {
			from {bottom: 30px; opacity: 1;}
			to {bottom: 0; opacity: 0;}
	}
			
						