
<div id="loginChoice" class="w3-modal">
    <div class="w3-modal-content">
      <header class="w3-container w3-teal"> 
        <span onclick="document.getElementById('loginChoice').style.display='none'" 
        class="w3-closebtn">&times;</span>
        <h2>tell me about yourself first</h2>
      </header>
      <div class="w3-container">
        <button id="googleSignIn" class="w3-btn-block w3-teal">Login With Google</button>
				<button id="perilSignIn" class="w3-btn-block w3-teal">Login with Perildy Account</button>
        <button id="perilCreate" class="w3-btn-block w3-yellow">Create a Perildy Account</button>
      </div>
      <footer class="w3-container w3-teal">
        <p>I won't sell your info honest abe, <small>*but google might</small></p>
      </footer>
    </div>
  </div>
</div>